* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

}

:root {
    --lightblue: #A9C7C7;
    --violet: #8856d9;
    --orange: #ff4136;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 400;
}

button {
    background: none;
    border: none;
}

body {
    background: #1C2023;
}

li {
    list-style: none;
}

.page-wrapper {}

.header {
    background: url(/header-bg.png) no-repeat right/1300px 823px;
    padding: 46px 217px 187px 217px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 112px;
}

.header-nav-left {
    display: flex;
}

.nav-left-burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 25px;
    margin-right: 50px;
}

.nav-left-burger-line {
    width: 100%;
    background: white;
    height: 2px;
}

.nav-left-burger-line:nth-child(2) {
    width: 50%;
    background: white;
    height: 2px;
}

.nav-left-list {
    display: flex;
    column-gap: 30px;
}

.nav-left-list-item {
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all .4s;
    text-transform: uppercase;
}

.nav-left-list-item:hover {
    color: var(--violet);
}

.header-nav-right {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.nav-right-realease {
    color: #8C96A0;
}

.nav-right-time {
    display: flex;
    column-gap: 16px;
}

.right-time-item {
    color: var(--lightblue);
    font-size: 40px;
    font-weight: 900;
}

.header-title {
    font-size: 100px;
    font-weight: 900;
    width: 540px;
    margin-bottom: 26px;
}

.header-desc {
    line-height: 27px;
    width: 465px;
    font-size: 18px;
    color: var(--lightblue);
    margin-bottom: 49px;
}

.header-buy {
    padding: 11px 37px;
    border-radius: 6px;
    color: white;
    background: var(--violet);
    cursor: pointer;
    text-transform: uppercase;
}

.editions {}

.main-title {
    font-weight: 600;
    font-size: 40px;
    color: #fff;
    text-align: center;
    padding-bottom: 36px;
    margin-top: 36px;
}

.editions-cards {
    display: flex;
    justify-content: center;
    column-gap: 16px;
}

.editions-cards-item {
    background: linear-gradient(180deg, #141615 0%, #1c2023 100%);
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.editions-cards-item-poster {
    border-radius: 6px;
    width: 316px;
    height: 147px;
}

.editions-cards-item-title {
    margin-top: 18px;
    align-self: center;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.editions-cards-item-version {
    align-self: center;
    font-weight: 500;
    font-size: 16px;
    color: #a9c7c7;
}

.editions-cards-item-container {}

.editions-cards-item-container-rule {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #8c96a0;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
}

.editions-cards-price {
    font-weight: 700;
    font-size: 19px;
    color: #fff;
    align-self: flex-end;
}

.editions-cards-buy {
    background: #8856d9;
    border-radius: 6px;
    width: 96px;
    height: 25px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    align-self: flex-end;
    margin-top: 12px;
}

.controler {}


.controller-container {
    display: flex;
    justify-content: center;
}

.controler-left {
    width: 425px;
}

.controler-left-desc {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #a9c7c7;
}

.purple {
    font-weight: 700;
    color: #8856d9;
}

.red {
    font-weight: 700;
    color: #ff4136;
}

.controler-price {
display: flex;
align-items: center;
column-gap: 33px;
}

.controler-price-count {
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    margin-top: 28px;
}

.controler-price-buy {
    background: #ff4136;
    border-radius: 6px;
    width: 274px;
    height: 39px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

.controler-right {}

.video {}

.video-play {}

.explore {
    display: flex;
    flex-direction: column;


}

.explore-card.second {
    margin-top: 118px;

}

.explore-card-title {
    font-family: var(--font-family);
font-weight: 500;
font-size: 18px;
text-align: center;
color: #fff;
}

.explore-card-switcher {
    display: flex;
    justify-content: center;
    column-gap: 32px;
}

.explore-card-switcher-title {
    display: flex;
    justify-content: center;
    margin-top: 21px;
    
}

.explore-card-switcher-block {}

.switcher-block {}

.explore-card-data {
    display: flex;
align-items: center;
justify-content: center;
}
.explore-price-buy{
    border-radius: 6px;
    width: 96px;
    height: 29px;
    background: #ff4136;
}

.explore-data-poster2 {

}

.explore-card-data-params {

}

.explore-card-data-params-item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 240%;
    color: #8856d9;
}

.pc {}

.ps {}

.news {
    
}

.swiper {

}

.swiper-wrapper {
    display: flex;
column-gap: 22px;
}

.swiper-slide {
    border-radius: 6px;
    width: 615px;
    height: 346px;
    background: linear-gradient(180deg, #30373f 22.4%, #141615 100%);
}

.news-top {
    display: flex;
    justify-content: space-between;
}

.news-top-suptitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
    color: #8856d9;
}

.news-top-date {
display: flex;


}

.news-title {
 
    font-family: var(--font-family);
font-weight: 600;
font-size: 19px;
text-transform: uppercase;
color: #fff;
margin-top: 7px;
}

.news-info {
display: flex;
justify-content: space-between;


margin-top: 16px;


}

.news-info-poster {}

.news-info-data {}

.news-info-data-desc {
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 142%;
color: #d9d9d9;
width: 256px;
height: 209px;
margin-right: 150px;

}

.news-info-data-read {
    width: 96px;
    height: 29px;
    background: #8C96A0;
    border-radius: 6px;
    font-family: var(--font-family);
font-weight: 500;
font-size: 13px;
text-transform: uppercase;
color: #fff;
margin-left: 200px;
}

.swiper-button-prev {}

.swiper-button-next {}

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 473px;
    padding-right: 544px;
}

hr{
    height: 2px;
    background: #8856d9!important;
}

.faq-list {
    width: 100%;

}

.faq-list-item {
    display: flex;
 justify-content: space-between;

}

.faq-list-item-desc {
    font-family: var(--font-family);
font-weight: 600;
font-size: 17px;
text-align: center;
color: #fff;
}

.faq-list-item-close {
    font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
text-align: center;
color: #fff;

width: 30px;
height: 30px;
background-color: #8C96A0;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(/img-footer.png) no-repeat center/786px 439px ;

}

.footer-pages {
    display: flex;
    margin-top: 160px;
    padding-left: 300px;
    padding-right: 44px;
    margin-bottom: 30px;
}

.footer-pages-list {
    display: flex;
    justify-content: center;
    column-gap: 18px;
    padding-right: 232px;
    padding-left: 180px;
 
}

.footer-pages-list-item {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 169%;
text-transform: uppercase;
color: rgba(255, 255, 255, 0.5);
}

.footer-language {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 193%;
    text-transform: uppercase;
    color: #8c96a0;
}

.footer-desc {
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
text-align: center;
color: #8c96a0;
width: 843px;
margin: 0 auto;
margin-bottom: 38px;
}

.footer-logo {
    margin: 0 auto;
    margin-bottom: 20px;
}

.footer-year {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: #8c96a0;
}

.footer-developer {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: #8c96a0;
}

.delevoper{
    color: #8856d9;
    margin-bottom: 13px;
}